@keyframes scale-to-active-200 {
  from {
    width: 30px;
    height: 30px;
  }
  to {
    width: 200px;
    height: 40px;
  }
}
@keyframes scale-to-inactive-200 {
  from {
    width: 200px;
    height: 40px;
  }
  to {
    width: 30px;
    height: 30px;
  }
}
@keyframes scale-to-active-250 {
  from {
    width: 30px;
    height: 30px;
  }
  to {
    width: 250px;
    height: 40px;
  }
}
@keyframes scale-to-inactive-250 {
  from {
    width: 250px;
    height: 40px;
  }
  to {
    width: 30px;
    height: 30px;
  }
}
@keyframes scale-to-active-300 {
  from {
    width: 30px;
    height: 30px;
  }
  to {
    width: 300px;
    height: 40px;
  }
}
@keyframes scale-to-inactive-300 {
  from {
    width: 300px;
    height: 40px;
  }
  to {
    width: 30px;
    height: 30px;
  }
}


@keyframes color-to-active-text {
  from {
    color: rgb(156 163 175 / var(--tw-text-opacity));
  }
  to {
    color: #2d3748;
  }
}

@keyframes color-to-inactive-text {
  from {
    color: #2d3748;
  }
  to {
    color: rgb(156 163 175 / var(--tw-text-opacity));
  }
}

.setting-navbar-item-animation-200 {
  animation: scale-to-active-200;
  animation-name: scale-to-active-200;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  justify-content: flex-start;
}

.setting-navbar-item-reverse-200 {
  animation: scale-to-inactive-200;
  animation-name: scale-to-inactive-200;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  justify-content: flex-start;
}

.setting-navbar-item-animation-250 {
  animation: scale-to-active-250;
  animation-name: scale-to-active-250;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  justify-content: flex-start;
}

.setting-navbar-item-reverse-250 {
  animation: scale-to-inactive-250;
  animation-name: scale-to-inactive-250;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  justify-content: flex-start;
}

.setting-navbar-item-animation-300 {
  animation: scale-to-active-300;
  animation-name: scale-to-active-300;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  justify-content: flex-start;
}

.setting-navbar-item-reverse-300 {
  animation: scale-to-inactive-300;
  animation-name: scale-to-inactive-300;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  justify-content: flex-start;
}

.setting-navbar-item-text-active-color {
  animation: color-to-active-text;
  animation-name: color-to-active-text;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.setting-navbar-item-text-inactive-color {
  animation: color-to-inactive-text;
  animation-name: color-to-inactive-text;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}


